@font-face {
    font-family: "poppin-bold";
    src: url("fonts/Poppins-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: bold;
}

@font-face {
    font-family: "poppin-thin";
    src: url("fonts/Poppins-Light.ttf") format("truetype");
    font-weight: 700;
    font-style: bold;
}

@font-face {
    font-family: "ghs";
    src: url("fonts/Lato-Bold.ttf") format("truetype");
    font-weight: 900;
    font-style: bold;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --logo: rgb(0, 128, 201);
    --white: #ffffff;
    --bg: #d2d7d9;
    --link-color: #000000;
    --mobile-menu: #035475;
    --hero-h2: #00585e;
    --active-link: #c64e00;
    --hero-h3: #1884ef;
    --hero-article: #4f5d5e;
    --mobile-menu-heading: #23ebf9;
    --call-btn: rgb(0, 128, 201);
    --call-btn-hover: #0034d7;
    --container-shadow:
        2px 2px 10px rgb(66, 66, 66), -2px -2px 8px rgb(94, 94, 94);
}
html {
    scroll-behavior: smooth;
    font-size: 90%;
    font-family: poppin-bold, "sans-serif";
    transition: 3s ease-in-out all;
}
body {
    width: 100dvw;
    height: 100dvh;
    display: flex;
    align-items: center;
    background: var(--bg);
    /* transition: 0.4s ease-in; */
    scroll-behavior: smooth;
    overflow: hidden;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

h1,
h2,
h3,
h4 {
    font-family: poppin-bold;
}

input,
button {
    outline: none;
}

.main-container {
    position: relative;
    width: 90vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
    background: var(--white);
    border-radius: 8px;
    box-shadow: var(--container-shadow);
    /* animation: 0.5s scaleup linear; */
}

.loader {
    top: 0;
    left: 0;
    position: fixed;
    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--white);
    z-index: 900000;
}
.loader img {
    width: 150px;
    height: 150px;
    object-fit: contain;
    margin: 0.5rem auto;
    padding: 0.3rem;
    filter: contrast(100%);
    border-radius: 50%;
    border-style: dashed;
    border-width: 3.3px;
    border-color: #4c5f63;
    filter: contrast(120%);
}
.loader h2 {
    font-family: ghs, "Sans-Serif";
    color: #4c5f63;
    text-align: center;
}
.nav-btn,
.nav h3 {
    display: none;
}
.main-container header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2.5rem;
    z-index: 100;
    border-bottom: 1.5px solid #ced2d0;
}
header h3 {
    color: var(--logo);
    text-transform: capitalize;
    font-weight: 900;
    cursor: pointer;
}
header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav ul a {
    margin: 0 0.8rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--link-color);
}
header nav ul .active {
    border-bottom: 2px solid var(--call-btn);
    color: var(--active-link);
}
header ul .call {
    outline: none;
    border: none;
    color: var(--white);
    background: var(--call-btn);
    border-radius: 15px;
    padding: 0.3rem 1rem;
    width: 100px;
    text-transform: inherit;
    cursor: pointer;
    transition: 0.3s ease-in all;
    font-weight: 800;
}
header ul .call:hover {
    background: var(--call-btn-hover);
    transform: scale(1.1);
}

/* @Mobile Navbar Menu */
.mobile-menu {
    top: 0;
    left: 0;
    width: 60%;
    height: 100vh;
    position: fixed;
    background: var(--mobile-menu);
    z-index: 1000;
    display: block;
    transition: 0.5s ease-in;
    overflow-y: auto;
    animation: openNav 0.3s linear;
}
.overly {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 40%;
    background: rgba(0, 16, 22, 0.625);
    z-index: 90000000;
    transition: 1s ease-in;
    cursor: pointer;
}
.mobile-menu ul {
    flex-direction: column;
    align-items: left;
    text-align: justify;
    justify-content: left;
    padding: 1rem 0;
}

.mobile-menu ul h3 {
    text-align: left;
    margin-left: -4rem;
    margin-bottom: 1rem;
    font-size: 22px;
    color: var(--mobile-menu-heading);
}
.mobile-menu ul a {
    width: 95%;
    display: inline-block;
    text-align: left;
    margin: 0.6rem 0.5rem;
    padding: 0.6rem 1rem;
    border-radius: 8px;
    color: var(--white);
}
.mobile-menu ul .active {
    background: #000;
}

.mobile-menu ul .call {
    margin-top: 1.7rem;
    text-align: left;
    padding: 0.5rem 1.7rem;
}

.mobile-menu ul button {
    display: none;
}

/* Main Page Section Styling */
main {
    width: 100%;
    height: 100%;
    padding: 0.3rem 2rem;
    overflow-y: auto;
    padding-bottom: 1rem;
}
main section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    margin-bottom: 1.5rem;
    animation: 0.5s scaleup linear;
}
.one-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: 0.5s scaleup linear;
}
main .heading {
    color: var(--mobile-menu);
    margin: 0.7rem auto;
    text-align: center;
}
section .hero-text {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    text-align: left;
}
.hero-text h2 {
    font-size: 2rem;
    color: var(--hero-h2);
    margin: 0.5rem 0;
}
h2 {
    font-size: 2rem;
    color: var(--hero-h2);
    margin: 0.5rem 0;
}
.hero-text h3 {
    font-size: 2rem;
    color: var(--hero-h3);
    margin: 0.5rem 0;
}
.hero-text h4 {
    font-size: 20px;
    color: #46494a;
    margin: 0.3rem 0;
}
.hero-text article,
.article article {
    max-width: 90%;
    color: var(--hero-article);
    margin: 0.3rem 0;
    line-height: 2.3rem;
    font-weight: 700;
    text-align: left;
    font-size: 16px;
    text-transform: capitalize;
}
.hero-text .btn-area {
    position: relative;
    margin-left: -3.8rem;
    display: flex;
    justify-content: left;
    align-items: left;
    margin: 1rem 0;
    padding: 0.3rem 0;
}

.btn-area a {
    text-align: justify;
    display: flex;
    justify-content: left;
    align-items: left;
    margin: 0.3rem 0;
}
.btn-area #view {
    margin: 0.5rem;
    outline: none;
    border: 1px solid transparent;
    cursor: pointer;
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    padding: 0.3rem 1rem;
    background: #008881;
    color: #ffffff;
    border-radius: 8px;
    font-weight: 800;
    transition: 0.3s ease-in;
}
.btn-area #shop {
    margin: 0.5rem;
    margin-left: 1rem;
    outline: none;
    border: 1px solid transparent;
    cursor: pointer;
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    padding: 0.3rem 1rem;
    background: #0061d0;
    color: #ffffff;
    border-radius: 8px;
    font-weight: 800;
    transition: 0.3s ease-in;
}
.btn-area :nth-child(2) {
    margin: 0 1rem;
}
.btn-area #view:hover {
    background: transparent;
    border: 1px solid #008881;
    color: #008881;
}
.btn-area #shop:hover {
    background: transparent;
    border: 1px solid #0061d0;
    color: #0061d0;
}

.btn-area #shop img,
#view img {
    width: 20px;
    height: 20px;
    object-fit: cover;
    cursor: pointer;
    margin: 0 0.3rem;
    margin-bottom: 0.3rem;
}
.hero-text .social {
    position: relative;
    margin-top: 0.6rem;
    bottom: 0;
    left: 0;
    display: flex;
    align-content: space-between;
    justify-content: left;
}
.social a {
    margin: 0.6rem 0.8rem;
    width: 40px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--white);
    background: var(--call-btn);
    border: 1px solid transparent;
    transition: 0.4s ease-in;
}
.social a:hover {
    background: transparent;
    border: 1px solid var(--call-btn);
    color: var(--call-btn);
}
section .hero-img {
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*animation: 7s zoomIn forwards linear infinite;*/
}

section .hero-img img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    padding: 0.5rem;
    opacity: 1 ease-in;
    transition: 0.4s ease-in all;
    border-radius: 50%;
    border-style: dashed;
    border-width: 3px;
    border-color: var(--call-btn);
    filter: contrast(120%);
}
footer {
    display: flex;
    align-items: center;
    text-align: center;
}

.one-section .skills {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(auto, 1fr));
    gap: 15px;
    place-items: center;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.one-section .projects {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(auto, 1fr));
    gap: 18px;
    place-items: center;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.one-section article {
    max-width: 90%;
    color: var(--hero-article);
    margin: 1rem 0;
    text-align: left;
    line-height: 1.9rem;
    font-weight: 700;
    font-size: 16px;
    text-transform: capitalize;
}
.skills .skill {
    margin: 0.8rem auto;
    padding: 0.5rem;
    border-radius: 12px;
    border: 1px solid #6b6c6c;
    height: 100%;
    width: 100%;
}
.skill .skill-img {
    width: 130px;
    height: 130px;
    object-fit: cover;
    padding: 0.3rem;
    border: 0.1px solid #d1fff9;
}
.skill h4 {
    width: 100%;
    padding: 0.3rem 0.5rem;
    margin: 0.3rem auto;
    border-radius: 15px;
    background: #8913ff;
    color: #fff;
    border: 0.2px solid #fff;
}
.projects .project {
    margin: 1rem auto;
    padding: 0.3rem;
    width: 100%;
    height: 100%;
    border: 1px solid #6b6c6c;
    border-radius: 12px;
}
.projects .project img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    margin: 0.5rem auto;
    border-radius: 8px;
}
.projects .project h3 {
    margin: 0.7rem auto;
    text-align: center;
}
.projects .project a {
    margin: 1.9rem auto;
    text-decoration: none;
    border-radius: 12px;
    padding: 0.3rem 1rem;
    transition: 0.3s ease-in;
    color: #004b52;
    background: var(--bg);
    font-weight: 600;
}
.projects .project a:hover {
    color: #001fdd;
}

.contact {
    display: flex;
    align-items: center;
    justify-content: center;
}
.form {
    margin-top: 1rem;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form #message {
    width: 90%;
    text-align: center;
    margin: 0.3rem auto;
    padding: 0.5rem 1rem;
    font-family: Sans-Serif;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
}
.form .error {
    border: 1px solid rgb(255, 29, 29);
    color: rgb(255, 18, 18);
    background: rgba(243, 93, 47, 0.15);
}
.form .success {
    border: 1px solid rgba(47, 159, 3, 0.924);
    color: rgb(35, 120, 2);
    background: rgba(102, 243, 47, 0.162);
}
.form h3 {
    color: var(--call-btn);
    text-align: center;
    margin: 0.6rem auto;
}

.form::placeholder {
    color: #b0b0b0;
}
.form input {
    outline: none;
    background: transparent;
    padding: 1rem 1rem;
    margin: 0.7rem auto;
    border-radius: 5px;
    border: 1px solid var(--hero-article);
    color: var(--hero-article);
    font-weight: 500;
    width: 90%;
}
.form textarea {
    outline: none;
    resize: none;
    width: 90%;
    background: transparent;
    padding: 0.7rem 1rem;
    margin: 0.7rem auto;
    border-radius: 5px;
    border: 1px solid var(--hero-article);
    color: var(--hero-article);
    font-weight: 500;
    font-family: Sans-Serif;
    height: 110px;
}
.form input:focus,
.form textarea:focus {
    transition: 0.3s ease-in;
    border: 1.4px solid #148705;
}
.form button {
    width: 200px;
    height: 45px;
    border: none;
    outline: none;
    border: 2px solid var(--hero-h2);
    padding: 0.6rem 0.5rem;
    margin: 0.7rem auto;
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--hero-h2);
    background: transparent;
    font-weight: 500;
    transition: 0.3s ease-in;
    cursor: pointer;
    font-weight: 900;
    font-family: poppin-bold;
    font-size: 15px;
}
.form button .load {
    width: 28px;
    height: 28px;
    background: transparent;
    display: flex;
    margin: 0 0.3rem;
    border-top: 4px solid transparent;
    border-right: 5px solid currentColor;
    border-left: 5px solid currentColor;
    border-bottom: 5px solid currentColor;
    border-radius: 50%;
    animation: 0.8s splin linear infinite;
}
.form button:hover {
    color: var(--white);
    background: var(--hero-h2);
}
.contact-info {
    width: 100%;
}
.contact-info ul li {
    align-items: center;
    text-align: left;
    color: var(--hero-article);
    margin: 0.7rem 0;
}
.contact-info ul li a {
    text-decoration: none;
    color: rgb(0, 89, 195);
    font-family: ghs, "Sans-Serif";
    font-weight: 900;
    margin: 0 0.5rem;
}
.market-img {
    width: 100%;
    display: flex;
    align-items: center;
}
.market-img img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}
/* @CSS Responsive Here */
@media (max-width: 800px) {
    .main-container {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        scroll-behavior: smooth;
        overflow-y: auto;
        border-radius: 0;
        padding-bottom: 0.5rem;
    }
    .main-container header {
        padding: 0.3rem 0.8rem;
    }
    .main-container header .nav-btn {
        display: block;
        outline: none;
        padding: 0.5rem;
        border: none;
        background: transparent;
    }
    .nav-btn img {
        width: 30px;
        height: 30px;
        object-fit: contain;
    }
    .call,
    .nav {
        display: none;
    }
    header nav ul .active {
        border-bottom: none;
        color: var(--white);
    }
    .mobile-menu,
    .mobile-menu h3,
    .mobile-menu ul .call {
        display: block;
    }
    main {
        padding: 0.3rem 0.8rem;
    }
    main section {
        flex-direction: column;
    }
    #hero :nth-child(2) {
        order: -1;
    }
    #about :nth-child(1) {
        order: -1;
    }
   section .hero-img {
        width: 300px;
        height: 300px;
    }
    section .hero-img img {
        width: 300px;
        height: 300px;
    }
    .hero-text h2 {
        font-size: 1.5rem;
        margin: 0.5rem 0;
    }
    .hero-text h3 {
        font-size: 1.4rem;
        text-align: center;
        margin-bottom: 1rem;
    }
    h2 {
        font-size: 1.4rem;
        color: var(--hero-h2);
        margin: 0.5rem 0;
    }
    .hero-text .btn-area {
        margin: 0.5rem 0;
    }
    .btn-area #shop {
        margin-left: 0;
    }
    .hero-text article,
    .one-section article,
    .article article {
        width: 100%;
        max-width: 100%;
        font-size: 14px;
    }
    .one-section .skills {
        position: relative;
        grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
        grid-template-rows: repeat(auto-fill, minmax(auto, 1fr));
    }
    .one-section article {
        width: 98%;
        margin: 0.6rem 0;
        text-align: left;
        padding: 0.4rem 0;
    }
    .projects .project img {
        width: 100%;
        height: 350px;
    }
    .form input,
    .form textarea {
        width: 100%;
    }
}
/* @CSS Animation Created */
@keyframes scaleup {
    from {
        transform: translateY(100%);
        transition: 0.3s ease-in;
        opacity: 0.2;
    }
    to {
        transform: translate(0);
        transition: 0.3s ease-in;
        opacity: 1;
    }
}
@keyframes scaleLeft {
    from {
        transform: translateX(100%);
        transition: 0.3s ease-in;
        opacity: 0.2;
    }
    to {
        transform: translateX(0);
        transition: 0.3s ease-in;
        opacity: 1;
    }
}

@keyframes heroAnimation {
    0% {
        opacity: 0.2;
        transition: 0.2s ease-in;
        transform: translateX(100%);
    }

    100% {
        opacity: 1 ease-in;
        transition: 0.4s ease-in all;
        transform: translateX(-100%);
    }
}
@keyframes zoomIn {
    0% {
        transition: 0.2s ease-in;
        opacity: 0.5;
        transform: scale(0.7);
    }

    100% {
        transition: 0.2s ease-in-out;
        opacity: 0.5 ease-in;
        transform: scale(1);
    }
}
@keyframes openNav {
    0% {
        left: -60%;
        transition: 0.2s ease-in;
    }

    100% {
        left: 0;
        transition: 0.2s ease-in-out;
    }
}
@keyframes splin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
